# ~/.gitconfig

[user]
    # Set these before stowing this package.
    name = YOUR_NAME
    email = your@email.com

[push]
    default = current
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[url "https://"]
    insteadOf = git://
